{% extends "main/base_footer.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
      <head>
            {% block link_css %}
            {% static "db_files_footer_pages\css\footer_pages.css" %}
            {% endblock link_css %}

            {% block title_page %}
            Доставка и оплата
            {% endblock title_page %}
      </head>

      <body>
            {% block content %}
            <!-- Конт -->
            <div class="conteiner">
                  <div class="content_main">
                        <div class="content_main_nav">
                              <span><a href=" {% url "main:index" %} ">Главная</a></span>
                              <span> / </span>
                              <span>Доставка и оплата</span>
                        </div><br>

                        <div class="content_main_otrher">
                              <h1>Доставка и оплата</h1><br>
                              <h2>СПОСОБЫ ОПЛАТЫ:</h2><br>
                              <p>Наличный платёж — операции с денежной наличностью, которые проводятся физическими и юридическими лицами. Как правило, эти расчёты меньше по объёму по сравнению с безналичными расчётами. Размер наличного расчёта обычно устанавливается в законодательном порядке. К наличному расчёту относятся также выплаты предприятий, организаций, учреждений населению в виде заработной платы, стипендий, пенсий, пособий; поступления из финансовой системы; денежные расходы населения на товары и услуги; платежи финансовой системе.</p><br>
                              <p>Безналичный платёж — платёж, осуществляемый между продавцом и покупателем при помощи банка путём перечисления денежных средств с банковских счетов.</p><br>
                              <p>Безналичный платеж может быть отправлен с помощью Систем денежных переводов. При таком виде платежа для перевода денежных средств как продавцу так и покупателю не обязательно иметь банковский счет.</p><br>
                              <p>Платёж электронными деньгами — платёж, осуществляемый при помощи платёжных инструментов электронных денег.</p><br>

                              <h2>ВИДЫ ДОСТАВКИ:</h2><br>
                              <p>Транспортно-экспедиционная компания (ТЭК) — компания, занимающаяся организацией перевозок грузов от грузоотправителя (клиента) к грузополучателю. В большинстве случаев ТЭК является компанией посредником между клиентом и перевозчиком, предоставляя услуги по поиску исполнителя и транспорта удовлетворяющим критерием перевозки груза. От компетентности и профессионализма данной компании зависит качество и своевременность перевозки грузов.</p><br>
                              <p>Транспортно экспедиционная компания должна удовлетворять следующим требованием:</p><br>
                              <ul>
                                    <li>Быстрая и четкая обработка поступающих заказов.</li>
                                    <li>Поиск и предоставления транспорта в заданные сроки.</li>
                                    <li>Неукоснительное соблюдение всех правил и условий транспортировки груза.</li>
                                    <li>Контроль за исполнением и информированием клиента о статусе перевозки груза.</li>
                                    <li>Формирование отчетности и прочих финансовых, сопроводительных документов.</li>
                                    <li>Строгое соблюдение законодательства.</li><br>
                              </ul>
                              <p>На текущий момент на рынке грузоперевозок представлено большое число малых и крупных транспортно экспедиционных компаний, но специфика рынка такова, что далеко не каждая компания или частный перевозчик способен выполнить эти требования по ряду причин, главная из которых — это отсутствие нужной квалификации и опыта работы в данной сфере.</p>
                        </div>
                  </div>
            </div><br><br><br>
            {% endblock content %}
      </body>
</html>