{% extends "main/base_footer.html" %}
{% load static %}
{% load tovars_tags %}

<!DOCTYPE html>
<html lang="ru">
      <head>
            {% block link_css %}
            {% static "db_files\css\index.css" %}
            {% endblock link_css %}

            {% block title_page %}
            Internet-магазин: Компьютерных кресел            
            {% endblock title_page %}
      </head>

      <body>
            {% block content %}
            <!-- Каталог -->
            <div class="conteiner_katalog">
                  <!-- Каталог кнопка -->
                  <div class="katalog_main">
                        <div class="button_fixed">
                              <div class="dropdown" id="dropdown_left_side">
                                    <button class="drp_btn">
                                          Каталог
                                    </button><br>
                                    <div class="drp_dwn_cont">
                                          <ul>
                                                {% for categoria in category %}
                                                      <li><a href="{% url 'catalog_page' categoria.slug %}">{{ categoria.name }}</a></li>
                                                {% endfor %}
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <!-- Фильтр кнопка -->
                  <div class="catalog_right_side">
                        <!-- Кнопка фильтрации -->
                        <div class="katalog_main_right_side">
                              <div class="dropdown" id="dropdown_right_side">
                                    <button class="drp_btn">
                                          Фильтры
                                    </button><br>

                                    <form action="{% if request.GET.q %}{% url "search" %}
                                    {% else %}{% url "catalog_page" slug_url  %} {% endif %}" method="get">
                                          <!-- {% url 'catalog_page' slug_url %} -->
                                          <div class="drp_dwn_cont_right">
                                                <ul>
                                                      <li>
                                                            <div class="dropdown_right_side_main">
                                                                  <form action="" method="post" class="drp_dwn_cont_right_form">
                                                                        <p>Сортировать по цене:</p><br>
                                                                        <div class="cont_right_side_row">
                                                                              {% if request.GET.q %}
                                                                              <input type="hidden" name="q" value="{{ request.GET.q }}">
                                                                              {% endif %}

                                                                              <input name="order_by" type="radio" value="default"
                                                                              {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked
                                                                              {% endif %}>
                                                                              <label for="ot_bol_k_mensh">По умолчанию</label>
                                                                        </div><br>

                                                                        <div class="cont_right_side_row">
                                                                              <input name="order_by" type="radio" value="price" 
                                                                              {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                                                              <label for="ot_bol_k_mensh">По возрастанию</label>
                                                                        </div><br>

                                                                        <div class="cont_right_side_row">
                                                                              <input name="order_by" type="radio" value="-price" 
                                                                              {% if request.GET.order_by == '-price' %}checked{% endif %}>
                                                                              <label for="ot_mensh_k_bol">По убыванию</label>
                                                                        </div><br>
                                                                  </form>
                                                                  <button type="submit" class="drp_btn_filter" id="drp_btn_filter_right_side">
                                                                        <span>Применить</span>
                                                                  </button><br>
                                                            </div>
                                                      </li>
                                                </ul>
                                          </div>
                                    </form>
                              </div>
                        </div>
                  </div> 
            </div>

            <!-- Каталог_Товары -->
            <div class="conteiner">
                  <div class="filtr_xar_tov_main">
                        <div class="filtr_xar_tov_right_side">
                              <div class="cards_main">

                                    {% for product in tovars %}
                                    <div class="cardd_main">
                                          <div class="card_head">
                                                <a href="{% url "product_page" product.slug %}">
                                                      {% if product.image  %}
                                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                                            
                                                      {% else %}
                                                            <img src="{% static "img\katalog_tovars\other\image_not_found.png" %}" alt="">

                                                      {% endif %}
                                                </a>
                                          </div>

                                          <div class="card_cont">
                                                <span>{{ product.price }} ₽</span>
                                                <p style="margin-top: 12px;">
                                                      <a href="{% url "product_page" product.slug %}">
                                                            {{ product.name }}
                                                      </a>
                                                </p>

                                                <div class="button_fixed">
                                                      <div class="dropdown" id="drop_button_card">
                                                            <button class="drp_btn">
                                                                  В корзину
                                                            </button><br>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    {% endfor %}
                              </div>
                        </div>
                  </div>

                  <!-- Пагинация -->
                  <div class="pagination_block_main">
                        <div class="pagination_block">
                              {% if tovars.has_previous %}
                                    <button style="border-radius: 10px; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                          <a href="?{% change_params page=tovars.previous_page_number %}">Назад</a>
                                          {% comment %} page={{ tovars.previous_page_number }} {% endcomment %}
                                    </button>

                              {% else %}
                                    <button style="border-radius: 10px; border-top-right-radius: 0; border-bottom-right-radius: 0;" disabled></button>
                              {% endif %}

                              {% for page in tovars.paginator.page_range %}
                              {% comment %}  {% if page >= tovars.number - 2 and page <= tovars.number + 2 %} {% endcomment %}
                              {% if page >= tovars.number|add:-2 and page <= tovars.number|add:+2 %}
                                    <button>
                                          <a href="?{% change_params page=page %}"> {{ page }} </a>

                                          {% comment %}<a href="?page={{ page }}"> {{ page }} </a> {% endcomment %}

                                          {% comment %} {% url "catalog_page" slug_url page  %} {% endcomment %}
                                    </button>
                              {% endif %}
                              {% endfor %}

                              {% if tovars.has_next %}
                              <button style="border-radius: 10px; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                    <a href="?{% change_params page=tovars.next_page_number %}">Вперёд</a>
                                    {% comment %} page={{ tovars.next_page_number }} {% endcomment %}
                              </button>

                              {% else %}
                                    <button style="border-radius: 10px; border-top-left-radius: 0; border-bottom-left-radius: 0;" disabled></button>
                              {% endif %}
                        </div>
                  </div>
            </div>
            {% endblock content %}
      </body>
</html>